//Fonts

//Variables

//Mixins

//Reset
* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

body {
      background-image: url('../../public/background.png');
      background-size:cover;
      background-repeat:no-repeat;
}

li {
      list-style-type: none;
}